deepl-env
# Fashion-MNIST
MLP/Fashion-MNIST/fashionmnisttrain.csv
# Age Group Detection
MLP/Age-Group-Detection/agedetectiontest
MLP/Age-Group-Detection/agedetectiontrain
MLP/Age-Group-Detection/out.csv
MLP/Age-Group-Detection/optims
MLP/Age-Group-Detection/activation
MLP/Age-Group-Detection/learning_rate
MLP/Age-Group-Detection/weights
MLP/Age-Group-Detection/biases
MLP/Age-Group-Detection/dropout
MLP/Age-Group-Detection/reg
MLP/Age-Group-Detection/early_stop
# Predicting house price 
MLP/Predicting-House-Price/train.csv
# Cats or dogs
MLP/Cats-or-Dogs/dataset
# Doctor fee prediction
MLP/Doctor-Fee-Prediction/doctorfeesprediction
# Image Recognition using CNN
CNN/Image-Recognition-using-CNN/cifar10
CNN/Image-Recognition-using-CNN/cifar10Labels.csv
# Forcasting Stocks using RNN
RNN/Forecasting-Stocks/INFY20002008.csv
# Text Generator
# Time Series Forecasting
# Next Word Prediction
# Image Denoising
AutoEncoders/Image-Denoising/cifar10
AutoEncoders/Image-Denoising/cifar10Labels.csv
# Data Compression
AutoEncoders/Data-Compression/cifar10
AutoEncoders/Data-Compression/cifar10Labels.csv
